bot_detection/*data
bot_detection/datasets_full.csv
*.csv
*ndjson
*excel_sheets*
cnenv
*data*
*newsFluxus*
*fig*
*/plots*
bot_detection/covid19.zip
bot_detection/cresci-2017.csv.zip
bot_detection/mdl/bot_detect_mdl.sav
*xlsx
*pyc
*__pycache__*